# Introduction to Data Science
## Homework 2

Student Name: Xiang Wang

Student Netid: xw1173

***

### Part 1: Case study
Problem statement about "A question asking students to walk us through the "Target Pregnancy Prediction" case using the framework outlined in the first class using the churn example."

1. Business understanding: Obviously it's a predictive analysis problem. As we know that for the ads on baby products, the timing to reach out to a couple having a new baby is the key to increase the profits, which is backed up by both the research on human's habits and clients' transaction history, so we know that it worth investing on gathering the necessary data and spending efforts on data mining.
2. Data understanding: Target has and can buy each customer's information across multi dimensions. To build the predictor:
    * The feature set: the customer's information and especially the transaction history
    * The target value or the label: whether the customer is pregnant.

***

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. 

Answer the following questions using **ONLY  Linux/Unix** bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

1\. How many records are in this file?

In [2]:
!wc -l data/advertising_events.csv

10341 data/advertising_events.csv

2\. How many unique users and unique domains are in this file?

In [56]:
!for i in 1 3; do [ $i -eq 1 ] && echo 'users: ' || echo 'domains: '; cut -f $i -d ',' data/advertising_events.csv | sort | uniq | wc -l; done

users:
732
domains:
10

3\. Consider each event to be the observation of a visit of the user to the domain. Rank all domains by the number of observed visits in descending order

In [60]:
!cut -f 3 -d ',' data/advertising_events.csv | sort | uniq -c | sort -nr

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4\. Count all the records with "action=2"

In [62]:
!grep '.*,.*,.*,2' data/advertising_events.csv | wc -l

2629

5\. Count the number of different users observed to visit 'facebook'

In [69]:
!cut -f 1,3 -d ',' data/advertising_events.csv | grep '.*,facebook\.com' | sort | uniq | wc -l

683

### Part 3: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns.

1\. Turn this data into a Python dictionary called `contributorsData` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [180]:
import re # you might find this package useful

# Read through each line of the data

contributors_data = dict()
f = open("data/osquery_contributors.html", "r")

for line in f:
    
    ### Your code here !!
    # Check if it's name
    if (line.startswith('<a class="aname"')):
        name_result = re.search(".+>(.+)</a>", line)
        if name_result:
            name = name_result.group(1)
            contributors_data[name] = 0
    elif (line.startswith('<a class="cmt"')):
        author_result = re.search("author=(.+)\"", line)
        if author_result:
            author = author_result.group(1)
            commits_result = re.search(".+>(\d+ \w+)</a>", line)
            if commits_result:
                commits = commits_result.group(1).split(" ")[0]
                contributors_data[author] = commits
                
# This line will print your dictionary for grading purposed. Do not remove this line!!!
print (contributors_data)

{'polachok': '14', 'kost': '1', 'mtmcgrew': '1', 'theopolis': '553', 'shawndavenport': '1', 'dreid': '1', 'jacknagz': '1', 'schettino72': '2', 'wxsBSD': '20', 'apage43': '1', 'zwass': '14', 'mimeframe': '3', 'ecin': '1', 'SimplyAhmazing': '1', 'd0ugal': '1', 'yetanotherhacker': '1', 'javuto': '104', 'eastebry': '9', 'unixist': '30', 'mathieuk': '2', 'castrapel': '2', 'arirubinstein': '4', 'maus-': '9', 'jedi22': '49', 'deniszh': '3', 'quad': '1', 'tburgin': '1', 'jreese': '2', 'cdown': '4', 'vmauge': '8', 'yannick': '1', 'mark-ignacio': '1', 'marpaia': '477', 'glensc': '2', 'larzconwell': '1', 'maclennann': '6', 'ga2arch': '2', 'akshaydixi': '5', 'astanway': '6', 'mofarrell': '25', 'sharvilshah': '23', 'brandt': '3', 'blackfist': '1', 'arubdesu': '1', 'Anubisss': '2', 'achmiel': '3', 'mlw': '2', 'vlajos': '1', 'alex': '1', 'stevenhilder': '1', 'lwhsu': '22', 'rjeczalik': '1', 'DavidGosselin': '1', 'blakefrantz': '6', 'jamesgpearce': '2', 'timzimmermann': '2', 'nlsun': '3', 'mgoffin': '2', 'justintime32': '1'}

2\. How many elements are in your final dictionary ? (Include the code used to get that number)

In [181]:
len(contributors_data)

59

3\. Show the contributors and number of commits in descending order of keys (names with "z" should go first)

In [182]:
# Kinda ugly but definitely more efficient than Panda
# for contributor in sorted(contributorsData.keys(), reverse=True):
    # print("%s\t%s" %(contributor, contributorsData[contributor]))

import pandas as pd

result = []

for contributor in contributors_data:
    result.append([contributor, contributors_data[contributor]])
pd.DataFrame(result, columns=['Author', 'Commits']).sort_values(by='Author', ascending=[0])

              Author Commits
10             zwass      14
15  yetanotherhacker       1
30           yannick       1
8             wxsBSD      20
29            vmauge       8
47            vlajos       1
18           unixist      30
55     timzimmermann       2
3          theopolis     553
26           tburgin       1
49      stevenhilder       1
4     shawndavenport       1
40       sharvilshah      23
7        schettino72       2
51         rjeczalik       1
25              quad       1
0           polachok      14
56             nlsun       3
2           mtmcgrew       1
39         mofarrell      25
46               mlw       2
11         mimeframe       3
57           mgoffin       2
22             maus-       9
19          mathieuk       2
32           marpaia     477
31      mark-ignacio       1
35        maclennann       6
50             lwhsu      22
34       larzconwell       1
1               kost       1
58      justintime32       1
27            jreese       2
23            jedi22      49
16            javuto     104
54      jamesgpearce       2
6           jacknagz       1
33            glensc       2
36           ga2arch       2
12              ecin       1
17          eastebry       9
5              dreid       1
24           deniszh       3
14            d0ugal       1
28             cdown       4
20         castrapel       2
41            brandt       3
53       blakefrantz       6
42         blackfist       1
38          astanway       6
43          arubdesu       1
21     arirubinstein       4
9            apage43       1
48              alex       1
37        akshaydixi       5
45           achmiel       3
13    SimplyAhmazing       1
52     DavidGosselin       1
44          Anubisss       2

### Part 4: Dealing with data Pythonically

1\. Download the data set `"data/ads_dataset.tsv"` and load it into a Python Pandas data frame called `ads`.

In [218]:
#!head data/ads_dataset.tsv
ads = pd.read_csv('data/ads_dataset.tsv', sep='\t')

2\. Write a Python function called `getDfSummary_function()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` method returns a useful series of values that can be used here.

In [219]:
import numpy as np
def getDfSummary_function(input_data):
    total_rows = len(input_data.index)
    input_desc = input_data.describe()
    output_data = input_desc.T
    #output_data.rename(index=str, columns={"count": "number_nan"}, inplace=True)
    number_nan = []
    number_distinct = []
    for column in ads:
        nan = total_rows - int(output_data.loc[column]['count'])
        number_nan.append(nan)
        # If it has no NAN then we just call unique, otherwise drop the NANs
        if nan == 0:
            number_distinct.append(len(ads[column].unique()))
        else:
            number_distinct.append(len(ads[column].dropna().unique()))
    output_data = output_data.assign(number_nan=number_nan).assign(number_distinct=number_distinct).drop('count', 1)
    return output_data

3\. How long does it take for your `getDfSummary_function()` to work on your `ads` data frame? Show us the results below.

Hint: Use the _`%timeit `_ function

In [220]:
import timeit

t = timeit.Timer('getDfSummary_function(ads)', "from __main__ import getDfSummary_function, ads")
t.timeit(1)

0.061503053992055357

4\. Using the results returned from `getDfSummary_function()`, which fields, if any, contain missing `NaN` values?

In [221]:
ads_summary = getDfSummary_function(ads)
ads_summary

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000,0,2
buy_freq,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000,52257,10
visit_freq,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500,0,295
sv_interval,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670,0,5886
expected_time_buy,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571,0,348
expected_time_visit,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
last_visit,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000,0,189
multiple_buy,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000,0,2
multiple_visit,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000,0,4628
y_buy,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000,0,2

**Answer:** Obviously that only the *buy-freq* field contains missing NaN values

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

_Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary_function()()` and compare the differences. Do some feature distributions change dramatically?_

In [222]:
ads_has_null = ads.loc[ads.buy_freq.isnull()]
null_summary = getDfSummary_function(ads_has_null)
null_summary

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,2
buy_freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52257,10
visit_freq,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000,0,64
buy_interval,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,295
sv_interval,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670,0,5886
expected_time_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,348
expected_time_visit,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192,0,15135
last_buy,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
last_visit,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000,0,189
multiple_buy,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000,0,2
multiple_visit,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000,0,2
uniq_urls,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000,0,207
num_checkins,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000,0,4628
y_buy,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000,0,2

**Answer:** It seems that all fields literally related to 'buy' are perfectly correlated to *buy_freq* as they all have zero values for all features in summary (*isbuyer*, *buy_interval*, *expected_time_buy*, *multiple_buy*)

6\. Which variables are binary?

In [212]:
ads_summary.loc[ads_summary.number_distinct == 2]

,mean,std,min,25%,50%,75%,max,number_nan,number_distinct
isbuyer,0.042632,0.202027,0.0,0.0,0.0,0.0,1.0,0,2
multiple_buy,0.006357,0.079479,0.0,0.0,0.0,0.0,1.0,0,2
multiple_visit,0.277444,0.447742,0.0,0.0,0.0,1.0,1.0,0,2
y_buy,0.004635,0.067924,0.0,0.0,0.0,0.0,1.0,0,2