# Introduction to Data Science
## Homework 1 - A quick tour of Python 

Student Name: Xiang Wang

Student Netid: xw1173

***

### Part 1: Finish the hands-on lab from the first class:

To exercise your skill with Python, you should complete the following.

**0\. Import numpy **

In [1]:
import numpy as np

**1\. Create one Python list of 5 fruits and another one with 5 colors**

In [2]:
fruit = ['apple', 'pear', 'banana', 'peach', 'pineapple']
color = ['red', 'white', 'yellow', 'pink','brown']

**2\. Go through each fruit (first list) and print out the name of the fruit with one color of the second list **

(don't worry, it doesn't have to be the color of the fruit!)

Example of what you should print:  _apple is purple_

In [3]:
for i in range(0, 3):
    print(fruit[i] + ' is ' + color[i])

apple is red
pear is white
banana is yellow

**3\. Add two new fruits to your list with a _BUILT-IN_ function **

( Look for the function with the **TAB** hint! )

In [4]:
fruit.append('orange')
fruit.append('watermelon')

**4\. Use the list of fruits and sort the names (put them in alphabetical order) **

( Hint: Numpy has a great function for that!)

In [5]:
np.sort(fruit)

array(['apple', 'banana', 'orange', 'peach', 'pear', 'pineapple',
       'watermelon'],
      dtype='<U10')

**5\. Create a new empty list called "count_letters". Go through your list of fruits, and for each one, add an entry to that new list (count_letters) telling the number of letters each fruit name.**

Example of what you should print: _apple is 5 letters_

In [6]:
count_letters = []
for f in fruit:
    count_letters.append(len(f))
print(count_letters)

[5, 4, 6, 5, 9, 6, 10]

** 6\. Make a function called `one_more_change` that takes a list (input_list) and returns a new list (output_list) where each element of the original will be increased by 1 and divided by 2. **

In [7]:
def one_more(input_list):
    output_list = []
    for i in input_list:
        output_list.append((i + 1) / 2)
    return output_list

** 7\. Use the previous function to change the value of a list of 10 random numbers. **

In [8]:
test = [3,4,1,2,5,6,7,8,9,10]
print(one_more(test))

[2.0, 2.5, 1.0, 1.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5]

### Part 2: Pandas' DataFrame

With this notebook, you will also find a file called: part-0001. This file is a **CSV** file that corresponds to trips in Yellow cabs (in NYC). Your goal is to **read** the file using dataframes, put the data in a variable called _"trips"_ and then try to answer the following questions:
        
   1. **How many records does this file have?**
   
   2. **Take a _random sample_ of 20 elements and try finding a pattern on the dropoffs' variables and the date-times**
   (display here your sample and explain the patterns that you found)
   
   3. **What is the type of each column? All of them are strings? Integers? Display the type of each one**.
   
       
       
*** 

**Hints:**

- Use the pandas library to open the file (remember to click on: Shift + Tab 4 times in the library 'pd' to look for functions or with the variable _trips_)
- This file does not have name of columns, so you will need to use "header=None" in your function! But don't worry, I am including here the name of columns (in a list called column_names).

In [9]:
import pandas as pd

** Unzip and rename xaa.gz **
- It seems part-00001.txt exceeds the upload limit while it has more data than this file

In [10]:
!gunzip data/xaa.gz
!mv data/xaa data/data.csv

gzip: data/xaa.gz: No such file or directory
mv: cannot stat 'data/xaa': No such file or directory

Not sure about the warning on "Columns (21,23) have mixed types", even if I do not use low_memory=False, the answer in Question 3 is not affected at all

In [11]:

column_names = ['flag1','pickup_datetime','dropoff_datetime','passenger_count','trip_distance',
 'pickup_longitude','pickup_latitude','flag2','flag3','dropoff_longitude','dropoff_latitude',
 'payment_type','trip_amount','extra1','extra2','extra3','extra4','tip_amount','total_amount',
'data_source','pickup_borough','pickup_zip_code','dropoff_borough','dropoff_zip_code']

trips = pd.read_csv('data/data.csv', header=None) # low_memory=False ?
trips.columns = column_names
column_names
trips.head()

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,flag1,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,flag2,flag3,dropoff_longitude,...,extra2,extra3,extra4,tip_amount,total_amount,data_source,pickup_borough,pickup_zip_code,dropoff_borough,dropoff_zip_code
0,1,2015-03-07 05:04:29,2015-03-07 05:46:50,1,22.60,-73.861183,40.894665,1,N,-73.961784,...,0.5,0.00,0.00,0.30,64.30,Y,Bronx,10466,Brooklyn,11238\t
1,1,2015-03-01 02:49:59,2015-03-01 03:29:30,2,15.00,-73.917053,40.829521,1,N,-73.919952,...,0.5,0.01,0.00,0.30,45.81,Y,Bronx,10456,Brooklyn,11221\t
2,2,2015-03-29 08:37:45,2015-03-29 09:10:21,1,15.50,-73.886444,40.834187,1,N,-73.927361,...,0.5,0.30,5.00,5.54,56.84,G,Bronx,10460,Brooklyn,11221\t
3,2,2015-03-02 00:44:05,2015-03-02 01:18:40,1,16.69,-73.919388,40.807316,1,N,-73.920135,...,0.5,0.30,0.00,0.00,47.30,G,Bronx,10454,Brooklyn,11233\t
4,2,2015-03-12 22:50:09,2015-03-12 23:34:50,6,18.59,-73.888283,40.853603,1,N,-73.985352,...,0.5,0.30,10.96,0.00,65.76,G,Bronx,10458,Brooklyn,11217\t

** Question 1: **

In [12]:
## Question 1: Answers and code here! 
trips_size = len(trips)
trips_size

500000

** Question 2: **
___
By randomly selecting 20 rows and filter out columns related to *dropoff*, I find that it seems :
1. dropoff borough is always Brooklyn
2. the longitude/latitude/zipcode are also related to Brooklyn.

In [13]:
## Question 2: Answers and code here! 
import random
dfs = []
#dropoff_cols = [col for col in df.columns if 'dropoff' in col]
for i in range(20):
    df = trips.iloc[[random.randint(0, trips_size)]]
    dfs.append(df)
pd.concat(dfs).filter(like='dropoff')

,dropoff_datetime,dropoff_longitude,dropoff_latitude,dropoff_borough,dropoff_zip_code
318716,2015-03-25 01:52:08,-73.934387,40.662178,Brooklyn,11203\t
218438,2015-03-10 06:42:26,-74.002480,40.577591,Brooklyn,11224\t
333312,2015-03-23 18:23:01,-73.989319,40.587467,Brooklyn,11214\t
387690,2015-03-08 01:22:07,-73.934052,40.666832,Brooklyn,11213\t
86703,2015-03-12 17:09:04,-73.984230,40.691113,Brooklyn,11201\t
339670,2015-03-19 23:06:50,-73.983269,40.694939,Brooklyn,11201\t
133786,2015-03-01 14:38:21,-73.996964,40.693073,Brooklyn,11201\t
126237,2015-03-24 09:25:08,-73.884644,40.663631,Brooklyn,11207\t
362847,2015-03-21 01:36:20,-73.957619,40.732033,Brooklyn,11222\t
121496,2015-03-06 23:33:46,-73.967964,40.707710,Brooklyn,11211\t
376007,2015-03-03 01:37:12,-73.958015,40.670498,Brooklyn,11225\t
187618,2015-03-07 00:03:33,-74.035423,40.613670,Brooklyn,11209\t
426085,2015-03-20 23:29:27,-73.964958,40.676914,Brooklyn,11238
377024,2015-03-21 06:46:52,-74.013351,40.676991,Brooklyn,11231\t
209368,2015-03-22 12:16:01,-73.922173,40.673031,Brooklyn,11233\t
165325,2015-03-29 15:16:59,-73.962814,40.717396,Brooklyn,11211\t
180113,2015-03-04 20:06:44,-73.881454,40.680954,Brooklyn,11208\t
282330,2015-03-11 00:24:50,-74.007004,40.676250,Brooklyn,11231\t
148977,2015-03-28 20:10:21,-73.952827,40.714081,Brooklyn,11211\t
318260,2015-03-24 21:01:12,-73.971008,40.693573,Brooklyn,11205\t

Still I select out distinct dropoff borough and prove the conclusion 1

In [14]:
trips[['dropoff_borough']].drop_duplicates()

  dropoff_borough
0        Brooklyn

** Question 3: **
___
Iterate each row and check the type for each element, and it seems each column has only one type

In [15]:
## Question 3: Answers and code here! 
types = {}
for name in column_names:
    types[name] = set()
for index, row in df.iterrows():
    for name in column_names:
        types[name].add(type(row[name]))
types

{'data_source': {str},
 'dropoff_borough': {str},
 'dropoff_datetime': {str},
 'dropoff_latitude': {float},
 'dropoff_longitude': {float},
 'dropoff_zip_code': {str},
 'extra1': {float},
 'extra2': {float},
 'extra3': {float},
 'extra4': {float},
 'flag1': {int},
 'flag2': {int},
 'flag3': {str},
 'passenger_count': {int},
 'payment_type': {int},
 'pickup_borough': {str},
 'pickup_datetime': {str},
 'pickup_latitude': {float},
 'pickup_longitude': {float},
 'pickup_zip_code': {str},
 'tip_amount': {float},
 'total_amount': {float},
 'trip_amount': {float},
 'trip_distance': {float}}

This is how the dataframe should look:

In [16]:

trips.columns = column_names
trips.head()

,flag1,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,flag2,flag3,dropoff_longitude,...,extra2,extra3,extra4,tip_amount,total_amount,data_source,pickup_borough,pickup_zip_code,dropoff_borough,dropoff_zip_code
0,1,2015-03-07 05:04:29,2015-03-07 05:46:50,1,22.60,-73.861183,40.894665,1,N,-73.961784,...,0.5,0.00,0.00,0.30,64.30,Y,Bronx,10466,Brooklyn,11238\t
1,1,2015-03-01 02:49:59,2015-03-01 03:29:30,2,15.00,-73.917053,40.829521,1,N,-73.919952,...,0.5,0.01,0.00,0.30,45.81,Y,Bronx,10456,Brooklyn,11221\t
2,2,2015-03-29 08:37:45,2015-03-29 09:10:21,1,15.50,-73.886444,40.834187,1,N,-73.927361,...,0.5,0.30,5.00,5.54,56.84,G,Bronx,10460,Brooklyn,11221\t
3,2,2015-03-02 00:44:05,2015-03-02 01:18:40,1,16.69,-73.919388,40.807316,1,N,-73.920135,...,0.5,0.30,0.00,0.00,47.30,G,Bronx,10454,Brooklyn,11233\t
4,2,2015-03-12 22:50:09,2015-03-12 23:34:50,6,18.59,-73.888283,40.853603,1,N,-73.985352,...,0.5,0.30,10.96,0.00,65.76,G,Bronx,10458,Brooklyn,11217\t